$main-color: #fd0000;
$secondary-color: #cc1616;
$pure-white: #fff;
$light-white: #eee;
$dark: #2e2e2e;

$red-gradient: linear-gradient(45deg, rgba(0, 0, 0, 0.501), rgba(100, 0, 0, 0.501));
$light-red-gradient-solid: radial-gradient(circle at top right, rgb(255, 0, 0) 0%, rgb(0, 212, 255) 100%);

