@mixin heroImages($bgImg) {
    background-image: $red-gradient, url($bgImg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

@mixin islandCardStyles {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

